body:not(.elementor-editor-active) .cl-project-modal-container .cl-project-modal {
  display:none !important;
}

.cl-project-modal {
  visibility: hidden;
  position: fixed;
  display:flex;
  align-items: center;
  justify-content:center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color:rgba(0,0,0,0.8);
}

.cl-project-modal:target,
body.elementor-editor-active .cl-project-modal.modal-on {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  z-index: 8999;
}

.cl-project-modal .modal-background {
  width:100%;
  max-width:700px;
}

.cl-project-modal .modal-background > .inner {
  position: relative;
  z-index: 2;
}

.cl-project-modal .modal-background > .off {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.cl-project-modal .cl-project-image,
.cl-project-modal .third-party-content .third-image {
  display:block;
  z-index: 2;
  position: relative;
}

.cl-project-modal .cl-project-image img {
  object-fit: cover;
  display:block;
  object-position: top center;
}

.cl-project-modal .content {
  background-color:white;
  z-index: 2;
  position: relative;
  border-top:3px solid var(--primary);
}

.cl-project-modal .content .inner {
  padding:20px;
}

.cl-project-modal .third-party-content {
  background-color:var(--grey, #797979);
} 

.cl-project-modal .third-party-content .inner {
  display:flex;
  justify-content: flex-start;
  padding-top:20px;
  align-items: center;
}

.cl-project-modal .third-party-content .third-content {
  width: 77.5%;
  padding-right: 4.5%;
  font-size: 80%;
  color:white;
}

.cl-project-modal .third-party-content .third-content a {
  color:white;
}

.cl-project-modal .third-party-content .third-content p:last-child {
  margin-bottom:0;
}

.cl-project-modal .third-party-content .third-image {
  width:20%;
}

.cl-project-modal h3 {
  font-size:2.25rem;
}

.cl-project-modal .close {
  color:white;
  -webkit-box-shadow: 0px 0px 15px 5px #797979; 
  box-shadow: 0px 0px 15px 5px #797979; 
  border-radius:50%;
  font-size:20px;
  background-color: #797979;
  position: absolute;
  top:10px;
  z-index: 5;
  line-height: 1em;
  right:10px;
}

@media (max-width:768px) {
  .cl-project-modal {
    height:100vh;
    position: absolute;
    align-items: flex-start;
    overflow-y: scroll;
  }
}

.cl-project-modal-container .cl-project-link {
  position: relative;
}

.cl-project-modal-container .cl-project-link:before,
.cl-project-modal-container .cl-project-link:after,
.cl-project-modal .modal-background > .inner:before,
.cl-project-modal .modal-background > .inner:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  border: 2px solid var(--primary);
  transition: all .25s ease-out;
}

.cl-project-modal-container .cl-project-link:before,
.cl-project-modal .modal-background > .inner:before {
  background-color: var(--primary);
  top: -15px;
  left: -15px;
}

.cl-project-modal-container .cl-project-link:after,
.cl-project-modal .modal-background > .inner:after {
  bottom: -15px;
  right: -15px;
}

.cl-project-modal-container .cl-project-link:hover:before {
  top: 15px;
  left: 15px;
}

.cl-project-modal-container .cl-project-link:hover:after {
  bottom: 15px;
  right: 15px;
}
  
.cl-project-modal-container .cl-project-link img {
  transition: all 0.5s ease;
  object-fit: cover;
  display:block;
  width:100%;
  height:300px;
  object-position: center;
  position: relative;
  z-index: 1;
}

.-portfolio-container:hover .cl-project-link img:not(:hover) {
  filter: grayscale(100%);
  opacity: 0.75;
}

